#Â Spark in Action - Chapter 3 Scala Version - Lab 300

In [ ]:
import java.util.{Arrays, List}
import org.apache.spark.sql.{Dataset, Encoders, SparkSession}

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.1.41:4040
SparkContext available as 'sc' (version = 3.3.0, master = local[*], app id = local-1667057035432)
SparkSession available as 'spark'

import java.util.{Arrays, List}
import org.apache.spark.sql.{Dataset, Encoders, SparkSession}

In [ ]:
// Creates a session on a local master
val spark = SparkSession
                .builder
                .appName("Array to Dataset<String>")
                .master("local[*]")
                .getOrCreate

22/10/29 17:24:05 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@4d2b6df7

In [ ]:
val stringList: Array[String] = Array[String]("Jean", "Liz", "Pierre", "Lauric")

stringList: Array[String] = Array(Jean, Liz, Pierre, Lauric)

In [ ]:
val data:List[String] = Arrays.asList(stringList:_*)

data: java.util.List[String] = [Jean, Liz, Pierre, Lauric]

In [ ]:
val ds: Dataset[String] = spark.createDataset(data)(Encoders.STRING)

ds: org.apache.spark.sql.Dataset[String] = [value: string]

In [ ]:
ds.show()

+------+
| value|
+------+
|  Jean|
|   Liz|
|Pierre|
|Lauric|
+------+

In [ ]:
ds.printSchema()

root
 |-- value: string (nullable = true)

In [ ]:
val df = ds.toDF()

df: org.apache.spark.sql.DataFrame = [value: string]

In [ ]:
df.show()

+------+
| value|
+------+
|  Jean|
|   Liz|
|Pierre|
|Lauric|
+------+

In [ ]:
df.printSchema()

root
 |-- value: string (nullable = true)

In [ ]:
spark.stop()