#Â Spark in Action - Chapter 3 Scala Version - Lab 220

In [ ]:
import org.apache.spark.sql.functions.{col, concat, lit, split}
import org.apache.spark.sql.SparkSession

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.1.41:4040
SparkContext available as 'sc' (version = 3.3.0, master = local[*], app id = local-1666424379872)
SparkSession available as 'spark'

import org.apache.spark.sql.functions.{col, concat, lit, split}
import org.apache.spark.sql.SparkSession

In [ ]:
// Creates a session on a local master
val spark = SparkSession
                .builder
                .appName("Restaurants in Durham County, NC")
                .master("local[*]")
                .getOrCreate

22/10/22 09:40:45 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@3000f680

In [ ]:
// Reads a JSON file called Restaurants_in_Durham_County_NC.json, stores
// it
// in a dataframe
var df = spark
            .read
            .format("json")
            .load("net.jgp.books.spark.ch03/data/Restaurants_in_Durham_County_NC.json")

df: org.apache.spark.sql.DataFrame = [datasetid: string, fields: struct<closing_date: string, est_group_desc: string ... 21 more fields> ... 3 more fields]

In [ ]:
println("*** Right after ingestion")
df.show(5)
df.printSchema()
println("We have " + df.count + " records.")

*** Right after ingestion
+----------------+--------------------+--------------------+--------------------+--------------------+
|       datasetid|              fields|            geometry|    record_timestamp|            recordid|
+----------------+--------------------+--------------------+--------------------+--------------------+
|restaurants-data|{null, Full-Servi...|{[-78.9573299, 35...|2017-07-13T09:15:...|1644654b953d1802c...|
|restaurants-data|{null, Nursing Ho...|{[-78.8895483, 36...|2017-07-13T09:15:...|93573dbf8c9e799d8...|
|restaurants-data|{null, Fast Food ...|{[-78.9593263, 35...|2017-07-13T09:15:...|0d274200c7cef50d0...|
|restaurants-data|{null, Full-Servi...|{[-78.9060312, 36...|2017-07-13T09:15:...|cf3e0b175a6ebad2a...|
|restaurants-data|{null, null, [36....|{[-78.9135175, 36...|2017-07-13T09:15:...|e796570677f7c39cc...|
+----------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

root
 |-- datasetid: string (nullable = true)
 |-- fields: struct (nullable = true)
 |    |-- closing_date: string (nullable = true)
 |    |-- est_group_desc: string (nullable = true)
 |    |-- geolocation: array (nullable = true)
 |    |    |-- element: double (containsNull = true)
 |    |-- hours_of_operation: string (nullable = true)
 |    |-- id: string (nullable = true)
 |    |-- insp_freq: long (nullable = true)
 |    |-- opening_date: string (nullable = true)
 |    |-- premise_address1: string (nullable = true)
 |    |-- premise_address2: string (nullable = true)
 |    |-- premise_city: string (nullable = true)
 |    |-- premise_name: string (nullable = true)
 |    |-- premise_phone: string (nullable = true)
 |    |-- premise_state: string (nullable = true)
 |    |-- premise_zip: string (nullable = true)
 |    |-- risk: long (nullable = true)
 |    |-- rpt_area_desc: string (nullable = true)
 |    |-- seats: long (nullable = true)
 |    |-- sewage: string (nullable = true)
 |    |-- smoking_allowed: string (nullable = true)
 |    |-- status: string (nullable = true)
 |    |-- transitional_type_desc: string (nullable = true)
 |    |-- type_description: string (nullable = true)
 |    |-- water: string (nullable = true)
 |-- geometry: struct (nullable = true)
 |    |-- coordinates: array (nullable = true)
 |    |    |-- element: double (containsNull = true)
 |    |-- type: string (nullable = true)
 |-- record_timestamp: string (nullable = true)
 |-- recordid: string (nullable = true)

We have 2463 records.

In [ ]:
df = df.withColumn("county", lit("Durham"))
      .withColumn("datasetId", col("fields.id"))
      .withColumn("name", col("fields.premise_name"))
      .withColumn("address1", col("fields.premise_address1"))
      .withColumn("address2", col("fields.premise_address2"))
      .withColumn("city", col("fields.premise_city"))
      .withColumn("state", col("fields.premise_state"))
      .withColumn("zip", col("fields.premise_zip"))
      .withColumn("tel", col("fields.premise_phone"))
      .withColumn("dateStart", col("fields.opening_date"))
      .withColumn("dateEnd", col("fields.closing_date"))
      .withColumn("type", split(col("fields.type_description"), " - ").getItem(1))
      .withColumn("geoX", col("fields.geolocation").getItem(0))
      .withColumn("geoY", col("fields.geolocation").getItem(1))

df: org.apache.spark.sql.DataFrame = [datasetId: string, fields: struct<closing_date: string, est_group_desc: string ... 21 more fields> ... 16 more fields]

In [ ]:
val cols_list = List(col("state"), lit("_"), col("county"), lit("_"), col("datasetId"))

cols_list: List[org.apache.spark.sql.Column] = List(state, _, county, _, datasetId)

In [ ]:
df = df.withColumn("id", concat(cols_list:_*))

df: org.apache.spark.sql.DataFrame = [datasetId: string, fields: struct<closing_date: string, est_group_desc: string ... 21 more fields> ... 17 more fields]

In [ ]:
println("*** Dataframe transformed")
df.show(5)
df.printSchema()

*** Dataframe transformed
+---------+--------------------+--------------------+--------------------+--------------------+------+--------------------+--------------------+--------+------+-----+-----+--------------+----------+-------+--------------------+----------+-----------+---------------+
|datasetId|              fields|            geometry|    record_timestamp|            recordid|county|                name|            address1|address2|  city|state|  zip|           tel| dateStart|dateEnd|                type|      geoX|       geoY|             id|
+---------+--------------------+--------------------+--------------------+--------------------+------+--------------------+--------------------+--------+------+-----+-----+--------------+----------+-------+--------------------+----------+-----------+---------------+
|    56060|{null, Full-Servi...|{[-78.9573299, 35...|2017-07-13T09:15:...|1644654b953d1802c...|Durham|    WEST 94TH ST PUB| 4711 HOPE VALLEY RD|SUITE 6C|DURHAM|   NC|27707|(919) 403-0025|1994-09-01|   null|          Restaurant|35.9207272|-78.9573299|NC_Durham_56060|
|    58123|{null, Nursing Ho...|{[-78.8895483, 36...|2017-07-13T09:15:...|93573dbf8c9e799d8...|Durham|BROOKDALE DURHAM IFS|4434 BEN FRANKLIN...|    null|DURHAM|   NC|27704|(919) 479-9966|2003-10-15|   null|Institutional Foo...|36.0467802|-78.8895483|NC_Durham_58123|
|    70266|{null, Fast Food ...|{[-78.9593263, 35...|2017-07-13T09:15:...|0d274200c7cef50d0...|Durham|       SMOOTHIE KING|1125 W. NC HWY 54...|    null|DURHAM|   NC|27707|(919) 489-7300|2009-07-09|   null|          Restaurant|35.9182655|-78.9593263|NC_Durham_70266|
|    97837|{null, Full-Servi...|{[-78.9060312, 36...|2017-07-13T09:15:...|cf3e0b175a6ebad2a...|Durham|HAMPTON INN & SUITES|   1542 N GREGSON ST|    null|DURHAM|   NC|27701|(919) 688-8880|2012-01-09|   null|          Restaurant|36.0183378|-78.9060312|NC_Durham_97837|
|    60690|{null, null, [36....|{[-78.9135175, 36...|2017-07-13T09:15:...|e796570677f7c39cc...|Durham|BETTER LIVING CON...|       909 GARCIA ST|    null|DURHAM|   NC|27704|(919) 477-5825|2008-06-02|   null|    Residential Care|36.0556347|-78.9135175|NC_Durham_60690|
+---------+--------------------+--------------------+--------------------+--------------------+------+--------------------+--------------------+--------+------+-----+-----+--------------+----------+-------+--------------------+----------+-----------+---------------+
only showing top 5 rows

root
 |-- datasetId: string (nullable = true)
 |-- fields: struct (nullable = true)
 |    |-- closing_date: string (nullable = true)
 |    |-- est_group_desc: string (nullable = true)
 |    |-- geolocation: array (nullable = true)
 |    |    |-- element: double (containsNull = true)
 |    |-- hours_of_operation: string (nullable = true)
 |    |-- id: string (nullable = true)
 |    |-- insp_freq: long (nullable = true)
 |    |-- opening_date: string (nullable = true)
 |    |-- premise_address1: string (nullable = true)
 |    |-- premise_address2: string (nullable = true)
 |    |-- premise_city: string (nullable = true)
 |    |-- premise_name: string (nullable = true)
 |    |-- premise_phone: string (nullable = true)
 |    |-- premise_state: string (nullable = true)
 |    |-- premise_zip: string (nullable = true)
 |    |-- risk: long (nullable = true)
 |    |-- rpt_area_desc: string (nullable = true)
 |    |-- seats: long (nullable = true)
 |    |-- sewage: string (nullable = true)
 |    |-- smoking_allowed: string (nullable = true)
 |    |-- status: string (nullable = true)
 |    |-- transitional_type_desc: string (nullable = true)
 |    |-- type_description: string (nullable = true)
 |    |-- water: string (nullable = true)
 |-- geometry: struct (nullable = true)
 |    |-- coordinates: array (nullable = true)
 |    |    |-- element: double (containsNull = true)
 |    |-- type: string (nullable = true)
 |-- record_timestamp: string (nullable = true)
 |-- recordid: string (nullable = true)
 |-- county: string (nullable = false)
 |-- name: string (nullable = true)
 |-- address1: string (nullable = true)
 |-- address2: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip: string (nullable = true)
 |-- tel: string (nullable = true)
 |-- dateStart: string (nullable = true)
 |-- dateEnd: string (nullable = true)
 |-- type: string (nullable = true)
 |-- geoX: double (nullable = true)
 |-- geoY: double (nullable = true)
 |-- id: string (nullable = true)

In [ ]:
println("*** Looking at partitions")
val partitionCount = df.rdd.getNumPartitions
println("Partition count before repartition: " + partitionCount)

*** Looking at partitions
Partition count before repartition: 1

partitionCount: Int = 1

In [ ]:
df = df.repartition(4)
println("Partition count after repartition: " + df.rdd.getNumPartitions)

Partition count after repartition: 4

df: org.apache.spark.sql.DataFrame = [datasetId: string, fields: struct<closing_date: string, est_group_desc: string ... 21 more fields> ... 17 more fields]

In [ ]:
spark.stop()