#Â Spark in Action - Chapter 1 Python Version

In [ ]:
from pyspark.sql import SparkSession
import os

In [ ]:
current_dir = os.getcwd() #os.path.dirname(__file__)
relative_path = "../net.jgp.books.spark.ch01/data/books.csv"
absolute_file_path = os.path.join(current_dir, relative_path)

In [ ]:
# Creates a session on a local master
session = SparkSession.builder.appName("CSV to Dataset").master("local[*]").getOrCreate()

22/10/29 17:16:05 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [ ]:
# Reads a CSV file with header, called books.csv, stores it in a dataframe
df = session.read.csv(header=True, inferSchema=True, path=absolute_file_path)

In [ ]:
# Shows at most 5 rows from the dataframe
df.show(5)

+---+--------+--------------------+-----------+--------------------+
| id|authorId|               title|releaseDate|                link|
+---+--------+--------------------+-----------+--------------------+
|  1|       1|Fantastic Beasts ...|   11/18/16|http://amzn.to/2k...|
|  2|       1|Harry Potter and ...|    10/6/15|http://amzn.to/2l...|
|  3|       1|The Tales of Beed...|    12/4/08|http://amzn.to/2k...|
|  4|       1|Harry Potter and ...|    10/4/16|http://amzn.to/2k...|
|  5|       2|Informix 12.10 on...|    4/23/17|http://amzn.to/2i...|
+---+--------+--------------------+-----------+--------------------+
only showing top 5 rows

In [ ]:
# Good to stop SparkSession at the end of the application
session.stop()